.card-login {
    border: 2px solid #e8ebf1;
    border-radius: 30px;
    background: rgba(254, 130, 43, 1) 0%,;
    background: linear-gradient(36deg,rgba(254, 130, 43, 1) 0%,  rgba(210, 89, 4, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

/*.errorMessage {
    color: #fff;
}

.loginContainer {
    height: 100%;
    width: 100%;
    align-content: center;
    background-image: url("src\assets\images\background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100% !important;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #ffc312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #ffc312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #ffc312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}
*/
