<div class="container-fluid agent">
    <!-- nav bar -->
    <app-nav-bar></app-nav-bar>
    <!-- slide bar -->
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="side col-12 col-md-2">
          <app-nav-menu></app-nav-menu>
        </div>
        <div class="col-12 col-md-10">
          <div class="content">
            <!--TODO your title -->
            <h2>Create your Own Password</h2>
            <div>
              <div class="content2">
                <main  class="main">
                    <div class=" mainContainer">
                          
                        <div class=" px-0 py-0  formContainer">
                            <div class="row d-flex justify-content-center ">
                                <div class="col-8 text-center  ">
                                  
                                    <div class="card " >
                                        <form class="form-card" #ClientChangePassForm="ngForm" (ngSubmit)="changePasswordClicked()">
                                            
                                           
                                         
                                            <div class="row justify-content-between text-left">
                                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                                    <label class="form-control-label px-3">New Password
                                                       </label>
                        
                                                         <input type="password"
                                                         [(ngModel)]="changePasswordRequestAgent.newPassword"
                                                         #NewPassword="ngModel"
                                                          id="NPassword" 
                                                          name="NewPassword"
                                                           required 
                                                           pattern="[a-zA-Z0-9]+"> 
                                                        </div>
                        
                                                       
                                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                                    <label class="form-control-label px-3">Confirm Password
                                                      </label> 
                                                        
                                                        <input type="password" 
                                                        ngModel
                                                        #ConfirmPass="ngModel"
                                                        id="ConfirmPass" 
                                                        name="ConfirmPass" 
                                                        [disabled]="!(NewPassword.touched && NewPassword.valid)"
                                                        required
                                                        pattern="[a-zA-Z0-9]+"> </div>
                                                        
                                                        <div *ngIf="(NewPassword.touched && !NewPassword.valid)">
                                                            <div class="alert alert-danger" *ngIf="(NewPassword.errors && NewPassword.errors.required)">New Password Field is required</div>
                                                            <div class="alert alert-danger"*ngIf="(NewPassword.errors && NewPassword.errors.pattern)" > Invalid Format for New Password: Must only contain letters and numbers</div>
                                                           
                                                        </div>
                                                        <div *ngIf="(ConfirmPass.touched && !ConfirmPass.valid) ">
                                                           
                                                           
                                                            <div class="alert alert-danger" *ngIf="(ConfirmPass.errors && ConfirmPass.errors.required)"> Confirm Password Field is required</div>
                
                                                           
                                                        </div>
                                                        <div *ngIf="ConfirmPass.value!=null && ConfirmPass.touched">
                                                            <div class="alert alert-danger"*ngIf="!(NewPassword.value==ConfirmPass.value)" > Oops Erreur: Password fields isn't the same !</div>
                                                       </div>
                
                                                      
                                            </div>
                        
                                            <div class="row justify-content-center">
                        
                                                <div class="form-group col-sm-6">
                                                    
                                                    <button type="submit"
                                                     class="btn-block btn-warning"
                                                    [disabled]="!(NewPassword.value==ConfirmPass.value && ClientChangePassForm.valid)">Change Password
                                                     </button> 
                                                 </div>
                        
                                            </div>
                                      
                              
                            </form>
                        
                            </div>
                        </div>
                
                          
                    </div>
                        </div>
                    </div>
                  </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


























 