.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
  }
  
  section {
    margin-top: 0px !important;
    padding: 10px 0;
    height: 100% !important;
    width: 100% !important;
  }
  
  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  #team .card {
    border: none;
    background: #ffffff;
  }
  
  .image-flip:hover .backside,
  .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
  }
  
  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    transform: none;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    transform: none;
  
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }
  
  .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  
  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
  }
  
  .frontside .card,
  .backside .card {
    min-height: 312px;
  }
  
  .backside .card a {
    font-size: 18px;
    color: #007b5e !important;
  }
  
  .frontside .card .card-title,
  .backside .card .card-title {
    color: #007b5e !important;
  }
  
  .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  img{
    width:64px !important ;
    height: 64px !important ;
    border-radius: 10px !important;
    
  }
  
  .detailsSpan{
    font-weight: bold!important ;
    color: #007b5e !important;
  }
  
  #searchBar{
    padding: 6px;
    
  }
  
  .search-form{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  
  #expendbutton:hover{
  
    scale: (1.1);
    background-color: #235a4f;   
    color: #fbfbfb !important;
    
  
  }
  #expendbutton {
  
  
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: #fff;
  
  }
  .thead{
    color:  rgb(254, 130, 43);
  }
  .main{
    padding-top: 3%;
  }
  .container{
    padding-left: 0%;
  }
  
  .container-fluid {
    padding: 0% 0% 7%;
  }
  .col {
    margin: 0% !important;
    padding: 0% !important;
  }
  .content {
    padding: 4%;
    text-align: left;
  }
  .content2 {
    padding-top: 4%;
  }
  .search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex: 1;
    padding: 3px;
    padding-left: 2%;
  }
  
  .search-bar i {
    margin-left: 5px;
    color: #555555;
  }
 
  button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  .table.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
 
  
 
  